adf/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "retailpulse-rdf"
        },
        "ls_databricks_retailpulse_accessToken": {
            "type": "secureString",
            "metadata": "Secure string for 'accessToken' of 'ls_databricks_retailpulse'"
        },
        "ls_databricks_retailpulse_properties_typeProperties_existingClusterId": {
            "type": "string",
            "defaultValue": "0310-113503-yvkikyio"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/ls_databricks_retailpulse')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://adb-7405604669561224.4.azuredatabricks.net",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('ls_databricks_retailpulse_accessToken')]"
                    },
                    "existingClusterId": "[parameters('ls_databricks_retailpulse_properties_typeProperties_existingClusterId')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/pl_retailpulse_etl')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "nb_bronze_exploration",
                        "type": "DatabricksNotebook",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Workspace/Users/godwinaddetsi12@gmail.com/RetailPulse/notebooks/01_bronze_data_exploration"
                        },
                        "linkedServiceName": {
                            "referenceName": "ls_databricks_retailpulse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "nb_silver_cleaning",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "nb_bronze_exploration",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Workspace/Users/godwinaddetsi12@gmail.com/RetailPulse/notebooks/02_silver_data_cleaning"
                        },
                        "linkedServiceName": {
                            "referenceName": "ls_databricks_retailpulse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "nb_gold_dimensions",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "nb_silver_cleaning",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Workspace/Users/godwinaddetsi12@gmail.com/RetailPulse/notebooks/03_gold_dimensions"
                        },
                        "linkedServiceName": {
                            "referenceName": "ls_databricks_retailpulse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "nb_gold_aggregations",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "nb_gold_dimensions",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Workspace/Users/godwinaddetsi12@gmail.com/RetailPulse/notebooks/05_gold_aggregations"
                        },
                        "linkedServiceName": {
                            "referenceName": "ls_databricks_retailpulse",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_databricks_retailpulse')]"
            ]
        }
    ]
}